<app-header (signOutEvent)="signOut()" [user]="user"></app-header>
<app-rehearsal-members-list [members]="members" [musician]="musician"
                            (switchMicrophoneEvent)="switchMicrophone($event)"></app-rehearsal-members-list>
<app-cabinet-main-content [rehearsal]="rehearsal"
                          [record]="record"
                          [musician]="musician"
                          [eventsSubject]="eventsSubject"
                          [updateTracksSubject]="updateTracksSubject"
                          [recordService]="recordService"
                          [members]="members"
                          (metronomeEnabledEvent)="enableMetronome($event)"
                          (metronomeDisabledEvent)="disableMetronome()"
                          (updateRehearsalEvent)="updateRehearsal($event)"
                          (pinnedEvent)="switchPinnedStatus($event)"
                          class="main-content-component"></app-cabinet-main-content>

<div *ngIf="countdownText" class="rehearsal-countdown">
  <div *ngIf="countdownText" class="rehearsal-countdown-text">{{countdownText}}</div>
</div>

<button *ngIf="this.rehearsalState === 'STOPPED' && isCreator(musician)" class="btn-outline-danger start-button"
        (click)="sendStartCountdownCommand()">Start
</button>

<button *ngIf="this.rehearsalState === 'STARTED' && isCreator(musician)" class="btn-outline-danger start-button"
        (click)="sendStopCommand()">Stop
</button>

<div *ngIf="isCreator(musician)" class="metronome-area">
  <div *ngFor="let metronome of rehearsal.metronomes; let i = index">
    <div [ngClass]="{'metronome-tab':true,
     'metronome-current-tab':metronome.id === metronomeConfiguration.metronomeId}"
         (click)="changeMetronomeManually(i+1)">{{i + 1}}. {{metronome.tempo}} ticks/min
    </div>
  </div>
  <div [ngClass]="{'metronome-button':true,
      'active-metronome-button':metronomeConfiguration.enabled,
      'disabled-metronome-button':!metronomeConfiguration.enabled}"
       (click)="switchMetronome()"></div>
</div>

<audio *ngIf="rehearsalState === 'COUNTDOWN'" src="assets/sound/ring1.mp3" autoplay></audio>

<app-modal *ngIf="alreadyConnected"
           [title]="'Rehearsal is already opened'"
           [text]="'It seems you have already opened this rehearsal in another window or tab. ' +
            'Only one tab is accessible.'"
           (cancelEvent)="exit()"
           (acceptEvent)="exit()"></app-modal>
