<nav class="navbar navbar-dark custom-navbar">
  <div class="collapse navbar-collapse navbar-container">
    <a class="navbar-brand rounded navbar-element " href="">
      <img src="/assets/img/icon.png" class="d-inline-block align-top logo-image" alt="logo">
      <span>PlayMe</span>
    </a>

    <div class="w3-bar offset-md-4 text-white">
      <a href="">
        <button class="w3-bar-item w3-button w3-border-white" [ngClass]="{'w3-white': tab === 'news'}">
          <i class="fas fa-list-alt"></i>
        </button>
      </a>
      <a href="bands">
        <button class="w3-bar-item w3-button w3-border-white" [ngClass]="{'w3-white': tab === 'bands'}">
          <i class="fas fa-users"></i>
        </button>
      </a>
      <a href="rehearsals">
        <button class="w3-bar-item w3-button w3-border-white" [ngClass]="{'w3-white': tab === 'rehearsals'}">
          <i class="fas fa-guitar"></i><i class="far fa-clock"></i>
        </button>
      </a>
      <a href="notifications">
        <button class="w3-bar-item w3-button w3-border-white" [ngClass]="{'w3-white': tab === 'notifications'}">
          <i class="fas fa-info-circle"></i>
        </button>
      </a>
    </div>

    <div class="form-inline rounded navbar-element sign-out">
      <div class="user-name">
        <a class="profile-name" href="profile">{{user.firstName}} {{user.lastName}}</a>
        <input type="submit" class="btn btn-outline-info sign-out-btn" value="Sign out" (click)="signOut()">
      </div>
    </div>
  </div>
</nav>
