.band-choice-form {
  position: absolute;
  top: 20%;
  left: 30%;
  width: 40%;
  background-color: #242526;
  color: white;
  padding: 2% 2% 1%;
  border-radius: 20px;
  font-size: 16pt;
  box-shadow: 5px 2px 10px 2px #18191A;
}

button {
  background-color: #242526;
  color: white;
  border: 3px solid navajowhite;
  border-radius: 10px;
  margin-top: 5px;
  transition: color 0.25s ease-in-out, background-color 0.25s ease-in-out;
}

button:hover {
  background-color: navajowhite;
  color: #242526;
}

select {
  background-color: #242526;
  color: white;
  border: 3px solid navajowhite;
}
